@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
  font-family: 'Lato', sans-serif;
}

.room-wrapper{
  max-width: 260px;
}

.room{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap:20px;  
  text-align: center;
}

.light-switch{
  padding: 10px 0;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}